.finish-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 50px;

  background-color: var(--background-color);
  box-shadow: 1px 1px 10px var(--letter-color);
  border-radius: 20px;

  text-align: center;
  font-size: 2rem;
}

.finish-menu > button {
  font-size: 1.5rem;
  padding: 10px 40px;
}
