.gameboard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

/*GAMEBOARD */
.gameboard {
  min-width: 800px;
  min-height: 500px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;

  gap: 5px;
  background-color: var(--letter-color);
}

.gameboard > i {
  width: 100%;
  height: 100%;

  text-align: center;
  padding-top: 15%;

  background-color: var(--background-color);
  font-size: 4rem;
  cursor: pointer;
}

.fa-xmark {
  color: var(--x-color);
}

.fa-circle {
  color: var(--o-color);
}

/* HEALTH */
.health-container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.health-container p {
  font-size: 1.2rem;
  font-weight: bold;
}

.health-container > div {
  flex: 0.2;
}

.health-container > div:last-child {
  text-align: right;
}

.health {
  position: relative;

  height: 20px;
  border-radius: 30px;
  background-color: var(--letter-color);
}

.health-x-player {
  position: absolute;

  width: 100%;
  height: 20px;
  border-radius: 30px;
  background-color: var(--life-color);
  transition: 1s;
}

.health-o-player {
  position: absolute;

  width: 100%;
  height: 20px;
  border-radius: 30px;
  background-color: var(--life-color);
  transition: 1s;
}

/* TURN ARROW */
.player-turn {
  position: relative;
}

.player-turn::after {
  position: absolute;
  content: "";
  left: 102%;
  width: 0;
  height: 0;

  border-top: 10px solid transparent;
  border-right: 20px solid var(--o-color);
  border-bottom: 10px solid transparent;

  animation: turn-x-animation 800ms infinite alternate-reverse;
}

.o.player-turn::after {
  position: absolute;
  content: "";
  left: -9%;
  width: 0;
  height: 0;

  border-right: none;
  border-left: 20px solid var(--o-color);

  animation: turn-o-animation 800ms infinite alternate-reverse;
}

@keyframes turn-x-animation {
  100% {
    left: 101%;
  }
}

@keyframes turn-o-animation {
  100% {
    left: -8%;
  }
}

/* BLOCKER */
.blocker {
  position: absolute;
  width: 100%;
  height: 100%;
}
