:root {
  --background-color: #eee;
  --letter-color: #333333;

  --x-color: #d26d6d;
  --o-color: #6da2d2;
  --life-color: #6dd283;

  --font-size-big: ;
  --font-size-normal: ;

  --border-radius: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--letter-color);
}

.game-container {
  position: relative;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;

  align-self: flex-end;
  padding: 20px;

  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

.footer a {
  color: var(--letter-color);
}

.hide {
  display: none;
}

.hide-opacity {
  opacity: 0;
}
