.main-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

/* HEADER */
.header {
  margin-top: 100px;
}

.title {
  font-size: 4rem;
  font-weight: bolder;
}

/* MAIN */
.main-container {
  min-width: 1000px;

  display: grid;
  grid-template-areas: "player-x fight player-o";
  justify-content: space-around;
  align-items: center;
}

.rounds-fight-container {
  grid-area: fight;

  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: 20px;
}

.rounds-input {
  min-width: 200px;
}

.rounds-fight-container > p {
  margin-top: -20px;
}

.rounds-fight-container > button {
  padding: 20px 30px;
  font-weight: bold;
  background-color: var(--button-color);
  border: none;
  border-radius: 20px;

  cursor: pointer;
}

.player-x-container,
.player-o-container {
  grid-area: player-x;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.player-o-container {
  grid-area: player-o;
}

.player-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: var(--button-color);

  padding-top: 20px;
  border-radius: 30px;
}

.player-data > p {
  font-weight: bold;
}

.player-data > i {
  font-size: 5rem;
}

.choose-player-container {
  width: 100%;
  display: flex;
}

.choose-player-container > button {
  padding: 20px 50px;
  background-color: var(--button-color);
  border: none;
  border-top: 1px solid var(--letter-color);

  cursor: pointer;
}

.choose-player-container > button:hover {
  opacity: 0.7;
}

.choose-player-container > button:first-child {
  border-right: 1px solid var(--letter-color);
  border-radius: 0 0 0 30px;
}

.choose-player-container > button:last-child {
  border-radius: 0 0 30px 0;
}

.name-x-player,
.name-o-player {
  width: 100%;
}

.name-x-player > input,
.name-o-player > input {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
}
