.main-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

/* HEADER */
.header {
  margin-top: 100px;
}

.title {
  font-size: 4rem;
  font-weight: bolder;
}

/* MAIN */
.main-container {
  min-width: 1000px;

  display: grid;
  grid-template-areas: "player-x fight player-o";
  justify-content: space-around;
  align-items: center;
}

/* ROUNDS */
.rounds-fight-container {
  grid-area: fight;

  height: 200px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: 20px;
}

.rounds-input {
  min-width: 200px;
}

.rounds-fight-container > p {
  margin-top: -20px;
  font-size: 1.2rem;
}

/* FIGHT */
.fight-button {
  font-size: 1.5rem;

  padding: 20px 30px;
  font-weight: bold;
  border: none;
  border-radius: 20px;

  color: var(--letter-color);
  box-shadow: 1px 1px 10px var(--letter-color);

  transition: transform 300ms;
  cursor: pointer;
}

.fight-button:hover {
  transform: scale(1.1);
}

/* PLAYERS */
.player-x-container,
.player-o-container {
  grid-area: player-x;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.player-o-container {
  grid-area: player-o;
}

.player-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-top: 20px;
  border-radius: 30px;

  box-shadow: 1px 1px 10px var(--letter-color);
}

.player-data > p {
  font-weight: bold;
}

.player-data > i {
  padding: 50px 0 50px 0;
  font-size: 5rem;
}

.choose-player-container {
  width: 100%;
  display: flex;
}

.choose-button {
  padding: 20px 50px;
  border: none;

  font-weight: bold;
  color: var(--letter-color);
  font-size: 1.1rem;
  border-top: 1px solid var(--letter-color);

  cursor: pointer;
}

.human-x-button,
.human-o-button {
  border-right: 1px solid var(--letter-color);
  border-radius: 0 0 0 30px;
}

.bot-x-button,
.bot-o-button {
  border-radius: 0 0 30px 0;
}

.choose-button:hover {
  opacity: 0.7;
}

.human-x-button.active,
.bot-x-button.active {
  color: var(--x-color);
}

.human-o-button.active,
.bot-o-button.active {
  color: var(--o-color);
}

.name-x-player,
.name-o-player {
  width: 100%;
}

.name-x-player > input,
.name-o-player > input {
  width: 100%;
  border-radius: 30px;
  padding: 10px;

  text-align: center;
  font-size: 1.1rem;
  color: var(--letter-color);
}

.god-tip-x,
.god-tip-o {
  margin: 5px 0 0 10px;
  font-size: 0.9rem;
  font-style: italic;
}

.god-tip-x > span {
  font-weight: bold;
  color: var(--x-color);
}

.god-tip-o > span {
  font-weight: bold;
  color: var(--o-color);
}
